#container{
    margin-top: 20%;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    color: darkgoldenrod;
    background-color: gainsboro;
    position: absolute;
    left: 25%;
    position: relative;
    padding: 20px;
    margin-bottom: 20%;

    
}
#answer{
    color: crimson;
}

#fullpage{

    width: 100%;
    overflow: hidden;
    background-color: lavender;
    position: absolute;
    right: 0;
    top:0;
    height: auto;
  
    
   
}

#container2{
    bottom: 0;
    background-color: blueviolet;
    width: 100%;
    position: absolute;
    overflow: hidden;
    right: 0;
    position: relative;
    top: auto;
    
    

   
   
}
#random{
    display: inline-table;
    position: relative;
    left: 20px;
    margin: 50px;
    width: 25%;
    letter-spacing: 2px;
}
#footer_header{
    font-size: 20px;
}
#footer_text{
    font-size: 15px;
}



