<div id="navbar">
  <a href="" id="logo">Coding Interview Dojo</a>
  <div id="navbar-right">
    <a class="active" href="">Home</a>
    <div id="dropdown">
      Notes
      <div id="content">

        <a routerLink="java" routerLinkActive="active">Java</a>
        <a routerLink="sql" routerLinkActive="active">SQL</a>
        <a routerLink="spring" routerLinkActive="active">Spring</a>
        <a routerLink="kafka" routerLinkActive="active">Kafka</a>
        <a routerLink="owasp" routerLinkActive="active">OWASP</a>
        <a routerLink="cybersecurity" routerLinkActive="active">Cyber Security</a>
      </div>

    </div>
    <a href="">About</a>
   
   
  </div>

</div>