#container{
    width: 50%;
    text-align: center;
    border-radius: 20px;
    color: darkgoldenrod;
    background-color: gainsboro;
    position: absolute;
    
}
#answer{
    color: crimson;
}

#show{
   
}