#container{
    margin-top: 20%;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    color: darkgoldenrod;
    background-color: gainsboro;
    position: absolute;
    left: 25%;
    margin-bottom: 50px;
    
}
#answer{
    color: crimson;
}

#show{
   
}