#everything{
    display: inline-block;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 0px;
}
#fullpageheader{
    /* position: fixed; */
    /* position: static; */
    position: absolute;
    width: 100%;
    height: auto;
    right: 0px;
    background-color: blueviolet;
    overflow: hidden;
    max-width: 100%;
   
  
  }

#slider{
    float: right;
    background-color: purple;
    height: 100%;
    width: 55%;
    position: relative;
    padding: 20px;
    ;
    /* padding-bottom: 400px; */
}

#welcome{
    position: relative;
    width: 45%;
    text-align: center;
    margin-top: 20%;
    background: url('https://unsplash.com/photos/02z1I7gv4ao');

    
    
}
#left_text{
    margin-top: 30%;
}

#left_side{
    float: right;
    position: relative;
    margin-top: 600px;
}

#content{
    padding: 100px;
    max-width: 100%;
    margin-top: 500px ;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-color: lavender;


}

#flashcard{
    max-width: 30%;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    height: auto;
    display: inline-table;
    margin: 20px;
    
    
}
#picture{
    height: auto;
    position: relative;
  
    width: 300px;
    height: 300px;
    background-image: image-set();
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    border-width: 5px;

}
#name{
    position: relative;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    font-size: 50px;
    margin-top: 40%;

}
#container{
    bottom: 0;
    background-color: blueviolet;
    width: 100%;
    position: relative;
    overflow: hidden;
   
}