<div id="everything">

    <div id="fullpageheader">


        <div id="slider">
            <img src="https://images.unsplash.com/photo-1517570544249-a47a3b5d8a8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                style="height: 400px; width:85%; margin-top: 90px; border-radius: 20px; ">
            <h1>*This is the location of the slider</h1>
        </div>

        <div id="welcome">
            <div id="left_text">
                <h1 id="become"> Become your most unstoppable self</h1>
                <h2> Master any subject, one success at a time.</h2>
            </div>
        </div>

    </div>
    <!-- <div id="fullpageheader">
        <div id="left_side"><h1>Reach for the stars and you'll land on moon</h1></div>

        

    </div> -->
    <br>
    <br>
    <br>

    <div id="content">
        <br>
        <h1>90% of professionals who use Coding Interview Dojo kill the interview.</h1>

        <div id="flashcard">
            <div id="picture">
                <button id="name" routerLink="java" routerLinkActive="active">Java</button>
            </div>
        </div>

        <div id="flashcard">
            <div id="picture">
                <button id="name" routerLink="sql" routerLinkActive="active">SQL</button>
            </div>
        </div>
        <div id="flashcard">
            <div id="picture">
                <button id="name" routerLink="java" routerLinkActive="active">Java</button>
            </div>
        </div>

        <div id="flashcard">
            <div id="picture">
                <button id="name" routerLink="sql" routerLinkActive="active">SQL</button>
            </div>
        </div>

      




    </div>
    <div id="container">
        <div id="random">
            <h1>Blob:</h1>
            <h3>Random stuff down here</h3>
        </div>
    </div>

   



</div>