<div id="everything">

    <div id="fullpageheader">


        <div id="slider">
            <h1>*This is the location of the slider</h1>
        </div>

        <div id="welcome">
            <div id="left_text">
                <h1 id="become"> Become your most unstoppable self</h1>
                <h2> Master any subject, one success at a time.</h2>
            </div>
        </div>

    </div>

    <div id="content">
        <h1>90% of professionals who use Coding Interview Dojo kill the interview.</h1>

        <div id="flashcard">
            <div id="picture">
                <button id="name" routerLink="java" routerLinkActive="active">Java</button>
            </div>
        </div>

        
    </div>
</div>