@media screen and (max-width: 580px) {

    #description{
       display: none;
    }
    #fullpageheader{
        top: 90px;
        padding-bottom: 100px;
       
    }
    #everything{
        width: 100% !important;
        overflow: visible !important;  
    }
    #the_image{
       display: none;
    }
    #slider{
        display: none;
    }
    #welcome{
        float: none;
        position: relative;
        width: 100% !important;
    }
   
    #left_text{
        size: 20px !important ;
        float: none;
        text-align: center;
    }
    #content{
        width: 100%;
        float: right !important;
        margin-bottom: 200% !important;
    }
    #flashcard{
        margin-left: 110px !important;
     }

   
}


@media  screen and (min-width: 700px) and (max-width: 900px)   {

    #description{
       display: none;
    }
    #fullpageheader{
        top: 90px;
        padding-bottom: 100px;
       
    }
    #everything{
        width: 100% !important;
        overflow: visible !important;  
    }
    #the_image{
       display: none;
    }
    #slider{
        display: none;
    }
    #welcome{
        float: none;
        position: relative;
        width: 100% !important;
    }
   
    #left_text{
        size: 20px !important ;
        float: none;
        text-align: center;
    }
    #content{
        width: 100%;
        float: right !important;
        margin-bottom: 80% !important;
    }
    #flashcard{
        margin-left: 140px !important;
     }


   
}

@media  screen and (min-width: 900px) and (max-width: 1100px)   {

    #description{
       display: none;
    }
  

   
}



#everything{
    display: inline-block;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top:0;
    background-color: lavender;

}
#fullpageheader{
    /* position: fixed; */
    position: static;
    position: absolute;
    width: 100%;
    height: auto;
    right: 0px;
    background-color: blueviolet;
    overflow: hidden;
    max-width: 100%;
   
  
  }

#slider{
    float: right;
    background-color: rgb(98, 42, 151);
    height: 100%;
    width: 55%;
    position: relative;
    padding: 20px;
    position: static;


    ;
    /* padding-bottom: 400px; */
}
#description{
    float: right;
    font-size: 11px;
    max-width: 43%;
    letter-spacing: 2px;
    position: relative;
    margin-top: 18%;
    position: static;
    
}
#the_image{
    position: relative;
    shape-outside: circle();
    margin: 10px;
    margin-top: 50px;
    float: right;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url('https://i.pinimg.com/originals/e4/26/70/e426702edf874b181aced1e2fa5c6cde.gif');
    margin-bottom: 50px;
}

#welcome{
    position: relative;
    width: 45%;
    text-align: center;
    margin-top: 20%;
    background: url('https://unsplash.com/photos/02z1I7gv4ao');
    position: static;

    
    
}
#left_text{
    margin-top: 30%;
}

#left_side{
    float: right;
    position: relative;
    margin-top: 600px;
    position: static;
}

#content{
    padding: 100px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-color: lavender;
    margin-bottom: 30%;
    margin-top: 20px;


}
#second_content{
    margin-top: 540px;
    background-color: lightcoral;
    position: relative;
    padding: 60px;
    text-align: center;
    position: static;
}

#flashcard{
    max-width: 30%;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    height: auto;
    display: inline-table;
    margin: 20px;
    
    
}
#picture{
    height: auto;
    position: relative;
  
    width: 300px;
    height: 300px;
    background-image: image-set();
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    border-width: 5px;

}
#name{
    position: relative;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 40%;

}
#container{
    bottom: 0;
    background-color: blueviolet;
    width: 100%;
    position: relative;
    overflow: hidden;
    position: absolute;
    margin-top: 20%;


}
#random{
    display: inline-table;
    position: relative;
    left: 20px;
    margin: 50px;
    width: 25%;
    letter-spacing: 2px;
    position: static;
}
#footer_header{
    font-size: 20px;
}
#footer_text{
    font-size: 15px;
    
}