@media screen and (min-width: 200px) and (max-width: 300px){

    #fullpageheader{
        margin-top: 80% !important;
        margin-bottom: 1% !important;
    }
 
    #slider{
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    #second_part{
        margin-top: 150% !important;
    }
    #second_part h1{
        font-size: 150% !important;
    }
    #notes{
        min-width: 100% !important;
        right: .5% !important;
    }
    #recent_notes{
        margin-bottom: 300% !important;
        margin-top: 10% !important;
        
    }
}


@media screen and (min-width: 300px) and (max-width: 400px){
    #fullpageheader{
        margin-top: 60% !important;
    }
 
    #slider{
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    #second_part{
        margin-top: 126% !important;
    }
    #second_part h1{
        font-size: 150% !important;
    }
    #notes{
        min-width: 100% !important;
        right: .5% !important;
    }
    #recent_notes{
        margin-bottom: 240% !important;
        margin-top: 10% !important;
        
    }
}




@media screen and (min-width: 400px) and (max-width: 500px){
    #fullpageheader{
        margin-top: 40% !important;
    }
 
    #slider{
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    #second_part{
        margin-top: 106% !important;
    }
    #second_part h1{
        font-size: 150% !important;
    }
    #notes{
        min-width: 70% !important;
        left: 14% !important;
    }
    #recent_notes{
        margin-bottom: 130% !important;
        margin-top: 10% !important;
        
    }
}


@media screen and (min-width: 500px) and (max-width: 600px){


    #fullpageheader{
        margin-top: 20% !important;
    }
 
    #slider{
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    #second_part{
        margin-top: 86.5% !important;
    }
    #second_part h1{
        font-size: 150% !important;
    }
    #notes{
        min-width: 70% !important;
        left: 14% !important;
    }
    #recent_notes{
        margin-bottom: 130% !important;
        margin-top: 10% !important;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){


    #fullpageheader{
        margin-top: 15% !important;
        height: 20% !important;
    }
    #welcome{
        margin-top: -9%;
    }

  
    #welcome h1{
        font-size: 150% !important;
    }

    #welcome

    #welcome p{
        font-size: 70% !important;
    }
    #welcome a{
        font-size: 50% !important;
    }
    #description{
        display: none !important;
    }
    #slider{
        height: 100% !important;
    }
 
   
    #second_part{
        margin-top: 50.5% !important;
    }
    #second_part h1{
        font-size: 120% !important;
    }
   
    #recent_notes{
       margin-bottom: 80% !important;
        
    }

    #name{
        font-size: 150% !important;
    }
}


@media screen and (min-width: 800px) and (max-width: 900px){
   
    #fullpageheader{
        /* margin-top: 25% !important; */
        /* height: 50% !important; */
    }
  

  
    #welcome h1{
        font-size: 200% !important;
    }

    #welcome

    #welcome p{
        font-size: 70% !important;
    }
    #welcome a{
        font-size: 50% !important;
    }
    #description{
        display: none !important;
    }
    #slider{
        height: 100% !important;
    }
 
   
    #second_part{
        margin-top: 40.5% !important;
    }
    #second_part h1{
        font-size: 120% !important;
    }
   
    #recent_notes{
       margin-bottom: 80% !important;
        
    }

    #name{
        font-size: 150% !important;
    }

}


@media screen and (min-width: 900px) and (max-width: 1200px){


  
    #fullpageheader{
        /* padding-bottom: 30% !important; */
    }
    #second_part{
        margin-top: 36.7% !important;
    }
    #second_part h1{
        font-size: 200% !important;
    } 

    #recent_notes{
        margin-bottom: 60% !important;
    }


}



#everything{
    display: inline-block;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top:0;
    background-color: whitesmoke;

}
#fullpageheader{
    /* position: static; */
    position: absolute;
    width: 100%;
    height: auto;
    right: 0px;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20%;
    /* background-image: url('https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'); */
   
  
  }

#slider{
    float: right;
    background-color:whitesmoke;
    height: 100%;
    width: 55%;
    position: relative;
    /* padding: 20px; */
    /* position: static; */

}
#carouselExampleControls{
    width: 100%;

}
#description{
    padding: 1%;
    
    position: absolute;
    margin-top: 3%;
    /* position: static; */
    width: 80%;
    text-align: center;
    left: 10%;
    
}

#description p{
    letter-spacing: 2px;
    color: black;
    font-size: 120%;


}
#second_part{
    position: relative;
    margin-top: 36%;
    background-color: salmon;

}
#notes{
    background-color: black;
    min-width: 30%;
    max-width: 30%;
    margin: 1%;
    right: -2%;
    position: relative;
    margin-bottom: 10%;
}



#welcome{
    position: absolute;
    width: 45%;
    text-align: center;
    /* margin-top: 6%; */
    /* position: static; */
    padding: 2%;
    padding-top: 10%;
    height: 100%;


    
    
}
#left_text{
    margin-top: 30%;
}

#left_side{
    float: right;
    position: relative;
    margin-top: 600px;
    position: static;
}

#content{
    padding: 100px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-color: lavender;
    margin-bottom: 30%;
    margin-top: 20px;


}
#second_content{
    margin-top: 540px;
    background-color: lightcoral;
    position: relative;
    padding: 60px;
    text-align: center;
    position: static;
}

#flashcard{
    max-width: 30%;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    height: auto;
    display: inline-table;
    margin: 20px;
    
    
}


#picture{
    height: auto;
    position: relative;
  
    width: 300px;
    height: 300px;
    background-image: image-set();
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    border-width: 5px;

}

#name{
    position: relative;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 30%;
    margin-bottom: 30%;

}

#welcome h1{
    font-size: 300%;
}

#welcome p{
    font-size: 100%;
}
#container{
    bottom: 0;
    background-color: salmon;
    width: 100%;
    position: relative;
    overflow: hidden;
    position: absolute;
    /* margin-top: 70%; */
    
    


}
#random{
    display: inline-table;
    position: absolute;
    left: 20px;
    margin: 50px;
    width: 25%;
    letter-spacing: 2px;
    position: static;
    left: 5%;
}
#footer_header{
    font-size: 20px;
}
#footer_text{
    font-size: 15px;
    
}