<div id="fullpage">
    <div id="container1">
        <h1 id="question"></h1>
        <hr>
        <button id="show"> Show Answer</button>
        <h3 id="answer"></h3>
        <br>
        <br>
        <div id= "navigation" style="width: 30%; display: inline-block; position: static; ">
            <button id="back" style="float: left;">⇐</button>
            <p id="id" style="text-align: center;display: inline-block;"></p>
            <button id="next" style="float: right;">⇒</button>
        </div>
    </div>
 

      <div id="container">
        <div id="random">
            <h1 id="footer_header">Back to the Basics</h1>
            <p id="footer_text">Java</p>
            <p id="footer_text">SQL</p>
            <p id="footer_text">Spark</p>
            
        </div>
        <div id="random">
            <h1 id="footer_header">About</h1>
            <p id="footer_text">About Me</p>
        </div>
        <div id="random">
            <h1 id="footer_header">Features</h1>
            <p id="footer_text">Sponsors</p>
            <p id="footer_text">Partnerships</p>
        </div>

    </div>
    

</div>

