<div id="fullpage">
    <div id="container">
        <h1 id="question"></h1>
        <hr>
        <button id="show"> Show Answer</button>
        <h3 id="answer"></h3>
        <br>
        <br>
        <div style="width: 30%; display: inline-block; position: static; ">
            <button id="back" style="float: left;">⇐</button>
            <p id="id" style="text-align: center;display: inline-block;"></p>
            <button id="next" style="float: right;">⇒</button>
        </div>
    </div>
</div>